/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    background: #0f2027;
    
    background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
    
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
    color: #fff;
    height: 100vh;
    overflow: hidden;
} */
 @import "tailwindcss";